{{define "extras"}}
    <hr class="separador">

    <section class="seccion-extra">
        <h2 class="titulo-seccion">Nuestras Tartas por Dentro</h2>
        <div class="galeria">
            <img src="/static/img/extras/porcion2.webp" alt="Porcion-de-tarta Casa-del-sol Tandil casa del sol" loading="lazy">
            <img src="/static/img/extras/porcion1.webp" alt="Porcion-de-tarta Casa-del-sol Tandil casa del sol" loading="lazy">
            <img src="/static/img/extras/porcion3.webp" alt="Porcion-de-tarta Casa-del-sol Tandil casa del sol" loading="lazy">
        </div>
    </section>

    <section class="seccion-extra">
        <h2 class="titulo-seccion">Tip de la Cocina 👩‍🍳</h2>
        <div class="video-container">
            <video src="/static/vid/frez.webm" poster="/static/img/extras/porcion4.webp" controls preload="metadata" muted alt="Porcion-de-tarta Casa-del-sol Tandil casa del sol"></video>
            <p>¿Pediste de más? Mirá cómo guardar tus tartas en el freezer para que al calentarlas queden como recién horneadas.</p>
        </div>
    </section>
    <hr class="separador">
    <section class="seccion-extra">
        <h2 class="titulo-seccion">Lo que dicen nuestros clientes ⭐</h2>
        <div class="grid-testimonios">
            <article class="testimonio">
                <p class="estrellas">⭐⭐⭐⭐⭐</p>
                <p class="texto-resena">"¡La de pollo y calabaza es un viaje de ida! La masa integral es súper crocante, se nota que todo es súper fresco."</p>
                <p class="cliente">- Nicolás A.</p>
            </article>
            
            <article class="testimonio">
                <p class="estrellas">⭐⭐⭐⭐⭐</p>
                <p class="texto-resena">"Pedimos tres diferentes para un cumple y volaron. Mi favorita fue la de choclo. ¡Recomendadísimas!"</p>
                <p class="cliente">- Juana P.</p>
            </article>

            <article class="testimonio">
                <p class="estrellas">⭐⭐⭐⭐⭐</p>
                <p class="texto-resena">"Excelente atención y las tartas son enormes, rinden un montón. Ya sé a quién pedirle cuando no tengo ganas de cocinar."</p>
                <p class="cliente">- Sofía R.</p>
            </article>
        </div>
    </section>
{{end}}