<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa del Sol | Tandil</title>
    <link rel="icon" href="/static/img/logo.webp" type="image/png">
    <meta name="description" content="Pedí las mejores tartas artesanales y caseras en Tandil. Masa integral, ingredientes frescos, mucho relleno y listas para freezar. ¡Hacé tu pedido por WhatsApp!">

    <meta property="og:title" content="Casa del Sol | Tandil">
    <meta property="og:description" content="Mirá nuestro menú de tartas y wraps caseras y hacé tu pedido para hoy.">
    <meta property="og:image" content="/static/img/porcion1.jpg"> 
    <meta property="og:type" content="website">

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    
    <link rel="stylesheet" href="/static/styles.css?v=123">
</head>
<body>

    <header class="header-premium">
        <a href="/"><img src="/static/img/logo.webp" alt="Logo-Casa-del-Sol casa-del-sol Tandil casa del sol" class="logo"></a>
        <div class="header-null"></div>
        <div class="header-container">
            <div class="titulo-container">
                <h1>TARTAS & WRAPS</h1>
            </div>
            <div class="subtitulo-container">
                <p>Nosotros la abundancia. Vos el momento.</p>
            </div>
        </div>
        </div> 
    </header>

    <nav class="nav-categorias" hx-on:click="
        if(event.target.classList.contains('nav-btn')) {
            document.querySelectorAll('.nav-btn').forEach(b => b.classList.remove('activo'));
            event.target.classList.add('activo');
        }
    ">
        <button hx-get="/grandes" hx-target="#catalogo-contenido" class="nav-btn activo">Tartas Grandes</button>
        <button hx-get="/individuales" hx-target="#catalogo-contenido" class="nav-btn">Tartas Individuales</button>
        <button hx-get="/wraps" hx-target="#catalogo-contenido" class="nav-btn">Wraps</button>
    </nav>

    <main class="container">
        <div class="catalogo-contenido" id="catalogo-contenido">
            {{template "grandes" .Grandes}}
        </div>
        <div class="extras-container">
            {{template "extras"}}
        </div>
    </main>
    <div class="pre-footer">
        <div class="container-redes">
            <a href="https://www.instagram.com/casadelsol.tandil/" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/extras/instagram.webp" alt="instagram Casa del sol casa-del-sol tartas wraps tandil" class="pre-footer-img">
            </a>
            <a href="https://wa.me/5492494123456" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/extras/wsp.webp" alt="whatsapp Casa del sol casa-del-sol tartas wraps tandil" class="pre-footer-img">
            </a>
        </div>
    </div>
    <footer class="site-footer">
        <p>&copy; 2026 Casa del Sol | Todos los derechos reservados.</p>
        <p class="developer-credit">Developed by Ruso</p>
    </footer>
    <script src="/static/app.js"></script>
</body>
</html>